<div class="split-screen">
    <div class="part edicionydiseno-1">
        <div class="content">
            <h2><a routerLink="/edicionydiseno">Edición
            y Diseño</a></h2>
        </div>
    </div>
    <div class="part eventosycomida-2">
        <div class="content">
            <h2><a routerLink="/eventosycomida">Eventos y
            Comida</a></h2>
        </div>
    </div>
    <div class="part tutorialesyguias-3">
        <div class="content">
            <h2><a routerLink="/tutorialesyguias">Tutoriales
            y Guias</a></h2>
        </div>
    </div>
    <div class="part videojuegos-4">
        <div class="content">
            <h2><a routerLink="/videojuegos">Videojuegos</a></h2>
        </div>
    </div>
    <div class="part toolsai-5">
        <div class="content">
            <h2><a routerLink="/toolsai">Tools AI</a></h2>
        </div>
    </div>

</div>