<!--<p>portfolio works!</p>
<h1 class="tituloDev">Felipe Reyes</h1>

<img id="felipereyes_nekosor" src="assets/img/felipereyes_nekosor.png" alt="Nekosor" width="20%" >
<br>
<p class="textX"><mat-icon class="inverted-quote-icon"> format_quote</mat-icon><strong class="strongX">S</strong>oy un
    Desarrollador frontend y experto en hardware con habilidades en marketing, me considero
    amante de la tecnología
    con un gran potencial en el uso del pensamiento lógico, lateral y crítico para una toma de decisiones más completa y
    efectiva. Diseño y desarrollo aplicaciones web. Sé identificar las necesidades del cliente. Tengo una comprensión
    sólida
    de los sistemas y dispositivos informáticos<mat-icon> format_quote</mat-icon></p><br>
<p><strong class="textXZ">¡Hazlo todo con pasión!
    </strong></p>
 Resources 
<br>
<br>
<h2 class="textT"> >> PORTFOLIO << </h2>
        <p class="textT">Presencia Profesional</p>

        <div class="card-container">


            <a class="card" target="_blank" rel="noopener" routerLink="/curriculum">
                <mat-icon class="iconosCv">code</mat-icon>
                <span class="textTT">CURRICULUM</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </a>
            <a class="card" target="_blank" rel="noopener" href="#">
                <mat-icon class="iconosProyectos">folder_open</mat-icon>
                <span class="textTT">PROYECTOS</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </a>
            <a class="card" target="_blank" rel="noopener" href="#">
                <mat-icon class="iconosDiploCert">school</mat-icon>
                <span class="textTT">CERTIFICACIONES</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </a>

            <a class="card" target="_blank" rel="noopener" href="#">
                <mat-icon class="iconosLogros">whatshot</mat-icon>
                <span class="textTT">LOGROS</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </a>


            <a class="card" target="_blank" rel="noopener" href="#">
                <mat-icon class="iconosTools">apps</mat-icon>
                <span class="textTT">TOOLS</span>

                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </a>
        </div>
        <br>-->


<div class="split-screen">
    
    <div class="part curriculum-1">
        <div class="content">
            <h2><a routerLink="/curriculum">Curriculum</a></h2>
        </div>
    </div>
    <div class="part diplomadosycertificados-2">
        <div class="content">
            <h2><a routerLink="/diplomadosycertificados">Diplomados y Certificados</a></h2>
        </div>
    </div>
    <div class="part proyectos-3">
        <div class="content">
            <h2><a routerLink="/proyectos">Proyectos</a></h2>
        </div>
    </div>
    <div class="part logros-4">
        <div class="content">
            <h2><a routerLink="/logros">Logros</a></h2>
        </div>
    </div>
    <div class="part hardware-5">
        <div class="content">
            <h2><a routerLink="/hardware">Hardware</a></h2>
        </div>
    </div>

</div>