<div class="container">
    <div class="col-md-12">
        <div class=" row justify-content-center">
            <div class="col-sm-6">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center h1  border-bottom border-warning">CERTIFICADO</div>
                    <div class="card-body">
                        <img src="assets/img/diplomadosycertificados.jpeg" alt="Imagen 1" class="img-fluid">
                        <div class="text-center mt-3">
                            <a href="ruta/a/tu/archivo1.pdf" class="btn btn-warning" download>
                                <i class="fa fa-download"></i> Descargar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center h1 border-bottom border-warning">DIPLOMADO</div>
                    <div class="card-body">
                        <img src="assets/img/diplomadosycertificados.jpeg" alt="Imagen 1" class="img-fluid">
                        <div class="text-center mt-3">
                            <a href="ruta/a/tu/archivo2.pdf" class="btn btn-warning" download>
                                <i class="fa fa-download"></i> Descargar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>